doctype html
html
  head
    meta charset="UTF-8"
    title Slim/Stylus Template (Fedor Loenko)
    link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet"
    link rel="stylesheet" href="css/style.css"
        body
          .container
			  .right-half
			    .outer-sector
			    .mid-sector
			    .inner-sector
			      .curl-1
			      .curl-2
			      .curl-3
			      .curl-4
			      .curl-5
			    .corner-bottom
			  .left-half
			    .outer-sector
			    .mid-sector
			    .inner-sector
			      .curl-1
			      .curl-2
			      .curl-3
			      .curl-4
			      .curl-5
			    .corner-bottom
			  .text
			    .letter-rotate T
			    .letter-rotate A
			    .letter-rotate C
			    .letter-rotate O
			    .letter-rotate#space -
			    .letter-rotate H
			    .letter-rotate A
			    .letter-rotate R
			    .letter-rotate M
			    .letter-rotate O
			    .letter-rotate N
			    .letter-rotate Y
  